*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    .topbar{
        /*background-color: red;*/ 
        width:100%;
        height: 70px;
        display: flex;
        align-items: center;
       .left{
        width: 50%;
        .logo{
            margin-left: 200px;
           /*  background-color: green;*/ 
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 20px;
        }
       }
    }
}

a{ text-decoration: none;}

.logo h2{color: rgb(10,102,194);}

.logo span{
    margin-left: 5px;
    border-radius: 3px;
    color: white;
    width: 25px;
    height: 20px;
    background-color:rgb(10,102,194);
    padding: 0px 3px;
}

.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .items{
        color: grey;
        width: 45%;
        display: flex;
        /* background-color: green;*/
        align-items: center;
        justify-content: center;
        .box{
            cursor:pointer;
            display: flex;
            width: 70px;
            height: 60px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: yellow;*/ 
             padding: 10px; 
           margin-left: 6px;
            
        }
    }
    .vertical{
        height: 40px;
        width: 1px;
        background-color: rgb(125, 123, 123);
    }
}
.text {
    font-size: 15px;
    /* width: 100%; */
    /* background-color: red;*/ 
    &:hover{
        color: black;
    }
}
.icon{
    color: rgb(74, 72, 72);
    &:hover{
        color: black;
    }
}
.join{
    display: flex;
    align-items: center;
    justify-content: center;
}
.joinnow{
    margin:0px 5px;
    /* background-color: red; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 15px 25px;
    cursor: pointer;
    &:hover{
       background-color: grey;
    }
}
.signin{
    margin-left: 5px;
    border: 1px solid blue;
    /* background-color: red; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 15px 25px;
    cursor: pointer;
    &:hover{
       background-color: rgb(156, 162, 228);
    }
}
.main{
    width: 100%;
    /* padding-left: 200px; */
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center ;
    justify-content: space-between;
    .form{
        width: 50%;
        height: 100%;
        /* background-color: green; */
        display: flex;
        align-items: end;
        justify-content: flex-end;
    }
    .image{
        width: 50%;
        margin-right:50px ;
        /*background-color: yellow;*/ 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image img{
        object-fit: cover;
        width: 100%;
    }
}
.fillups{
    margin-top: 40px;
    width: 75%;
    height: 93%;
    /* background-color:cyan; */
}
.fillups h1{
    width: 100%;
    color: rgb(147,93,79);
    /* background-color: red; */
    font-weight: 100;
    font-size: 52px;
    line-height: 1.5;

}
.fillups form{
    margin-top: 30px;
}
label{
    font-size: 15px;
    font-weight: 500;
    color: rgb(64,64,64);
    
}
form input{
    margin-top: 5px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 25px;
    font-size: 17px;
}
form a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(10,102,194);
    font-size: 15px;
    cursor: pointer;
}
.sign{
    margin: 20px 0px;
    width: 400px;
    height: 50px;
    color: white;
    background-color: rgb(10,102,194);
    display: flex;
    align-items: center;
    justify-content: center
    ;
    border-radius: 50px;
}
.horizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    width: 400px;
    .line{
        height: 1px;
        width:45% ;
        background-color: gray;
    }
}
.google{
    margin: 15px 0px;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center
    ;
    border-radius: 50px;

}
.linkedin{
    width: 400px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center
    ;
    border-radius: 50px;
    margin-bottom: 20px;

}
.google span{
    font-size: 15px;
    font-weight: 500;
    color: rgb(64,64,64);
}
.google img{
    width: 20px;
    margin-right: 15px;
}



